@font-face {
    font-family: "Nexon";
    src: url("./NEXONLv1GothicRegular.ttf");
}
body {
    background-color: black;
    color: white;
    font-family: "Nexon";
    height: 1220px;
}
main {
    height: 1220px;
}

#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}

.main-header-container {
    width: min(100%, 1200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.main-header-container img {
    width: 40px;
    height: 40px;
}

.main-header-container > ul {
    display: flex;
    font-size: 1.8rem;
    gap: 2rem;
}

.main-header-container > ul > li:hover {
    color: var(--green);
}