#portfolio {
    margin-bottom: 50px;
    height: auto;
}
.main-choose {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    padding: 0 40px;
    margin-bottom: var(--gutter);
}

.prev, .after {
    position: relative;
    width: 60px;
}

.prev {
    text-align: right;
}
.prev div::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    left: 5px;
    top: 50%;
    border: solid white;
    border-width: 2px 2px 0 0;
    transform: translateY(-50%) rotate(225deg);
}
.after div::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    right: 5px;
    top: 50%;
    border: solid white;
    border-width: 2px 2px 0 0;
    transform: translateY(-50%) rotate(45deg);
}

.main-choose > h1 {
    font-size: 2.3rem;
}

.project {
    padding: 0 40px;
}

.container {
    display: flex;
    background-color: var(--gray);
    border-radius: 10px;
    padding: 16px;
    margin-bottom: var(--gutter);
    position: relative;
}

.image {
    background-color: white;
    border-radius: 10px;
    width: 150px;
    height: 110px;
    margin-right: var(--gutter);
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px 20px;
}

.content {
    width: 318px;
    height: 100px;
    padding: 5px 0;
}

.pj-name {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.pj-content {
    font-size: 1.6rem;
    color: #c6c6c6;
    margin-bottom: 25px;
}

.content ul {
    display: flex;
    align-items: center;
}

.content div {
    font-size: 1.4rem;
    color: black;
    background-color: var(--gray-trans);
    padding: 6px 8px;
    border-radius: 5px;
    margin-right: 10px;
}
#PM {
    background-color: var(--blue);
    color: white;
}

#more {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 15px;
}

#more > div {
    height: 2px;
    background-color: var(--gray-trans);
    transition: 0.3s;
    margin-bottom: 4px;
}

#navbar {
    height: 91px;
    background-color: var(--gray);
    padding: 40px 40px;
}

.nav-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.sns div, .sns a {
    display: inline-block;
}

.sns div {
    background-color: black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.sns div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 3px;
}