#portfolio {
    margin-bottom: 50px;
    height: auto;
    display: flex;
    justify-content: center;
}
.main-port-container {
    width: min(100%, 1200px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 40px;
}

.main-choose {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    margin-bottom: var(--gutter);
}

.main-choose > h1 {
    font-size: 2.2rem;
}

.prev, .after {
    position: relative;
    width: 60px;
}
.after div::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    right: 5px;
    top: 50%;
    border: solid white;
    border-width: 2px 2px 0 0;
    transform: translateY(-50%) rotate(45deg);
}

.container {
    width: 100%;
    display: flex;
    background-color: var(--gray);
    border-radius: 10px;
    padding: 16px;
    margin-bottom: var(--gutter);
    position: relative;
    transition: 0.3s;
}

.image {
    background-color: white;
    border-radius: 10px;
    width: 150px;
    height: 110px;
    margin-right: var(--gutter);
    overflow: hidden;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1rem 2rem;
    transition: 0.3s;
}

.content {
    width: auto;
    height: 100px;
    padding: 5px 0;
}

.pj-name {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.pj-content {
    font-size: 1.6rem;
    color: #c6c6c6;
    margin-bottom: 25px;
}

.content ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content div {
    font-size: 1.4rem;
    color: black;
    background-color: var(--gray-trans);
    padding: 6px 8px;
    border-radius: 5px;
}
#PM {
    background-color: var(--blue);
    color: white;
}

.container > .more {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 15px;
}

.more div {
    width: 20px;
    height: 2px;
    background-color: var(--gray-trans);
    margin-bottom: 4px;
    transition: 0.3s;
}
.more div:nth-of-type(3) {
    margin-left: auto;
}

.container:hover {
    transform: translateY(-5px);
}
.container:hover > .image img {
    transform: scale(1.1);
}
.container:hover > .more div:nth-of-type(1) {
    width: 10px;
}
.container:hover > .more div:nth-of-type(3) {
    width: 10px;
}