@media screen and (max-width: 1080px) {
    .nav-footer-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
@media screen and (max-width: 770px) {
    .main-port-container {
        padding: 0 16px;
    }
}
@media screen and (max-width: 650px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 10px;
    }
    .image {
        width: min(75%, 250px);
        height: 160px;
    }
    .image img {
        padding: 0;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pj-content {
        margin-bottom: 10px;
        text-align: center;
    }

    .content ul {
        flex-wrap: wrap;
    }
    .content div {
        margin-right: 0;
    }
}