{% extends 'base.html' %}
{% load static %}

{%block head%}
  <title>Idea Register</title>
{%endblock%}

{%block content%}
   <div class="header">
      <div class="header_title">Idea Register</div>
      <div class="header_content">아이디어 등록 페이지입니다. 당신의 아이디어를 잊지 말고 기록하세요!</div>
   </div>
   <div class="register-wrapper">
      <form
      action="{% url 'ideas:register' %}"
      method="post"
      enctype="multipart/form-data"
      >
         {%csrf_token%}
         <div class="title">
            아이디어명:</br>{{form.title}}
         </div>
         <div class="image">
            Image:</br>{{form.photo}}
         </div>
         <div class="content">
            아이디어 설명:</br>{{form.content}}
         </div>
         <div class="interest">
            아이디어 관심도:</br>{{form.interest}}
         </div>
         <div class="devtool">
            예상 개발툴:</br>{{form.devtool}}
         </div>
         <button class="btn btn-success">SUBMIT</button>
      </form>
   </div>
{%endblock%}
