{% extends 'base.html' %}

{% load static %}
{% block head %}
<title>post_list</title>
{% endblock %}

{% block content %}
   <div class="list_container">
      {% if user.is_authenticated %}
         {% for post in posts %}
            <div class="post">
               <p class="post_user">{{post.user}}</p>
               {% if post.photo.url != null and post.photo.url != '' %}
                  <img src="{{post.photo.url}}" alt="대체텍스트">
               {% else %}
                  <img src="{% static 'image/no_img.png' %}" alt="">
               {% endif %}
               <div>
                  <button class="comment"><a href="{% url 'post:comment' post.pk%}">댓글</a></button>
                  <button class="like_btn" onclick="post_like(this.id)"><i class="fa-solid fa-heart"></i>{{post.like.count}}</button>
               </div>
               <p class="content">{{post.content}}</p>
            </div>
         {% endfor %}
      {% endif %}
   </div>
{% endblock %}

<script>
   const requestLike = new XMLHttpRequest();
   const onClickLike = (id, type) => {
      const url = 'post_like/';
      requestLike.open("POST", url, true);
      requestLike.setRequestHeader (
         "Content-Type",
         "application/x-www-form-urlencoded"
      );
      requestLike.send(JSON.stringify({id: id, type: type}));
   }
   requestLike.onreadystatechange = () => {
      if (requestLike.readyStat == XMLHttpRequest.DONE) {
         if(requestLike.status < 400) {
            const {id, type} = JSON.parse()
         }
      }
   }
</script>